@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: #000;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

nav span {
  font-weight: 900;
  font-size: 2em;
  color: rgb(226, 12, 12);
}
#health {
  color: rgb(13, 154, 13);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 60px 60px;

  background-image: url("images/background-image.png");
  /* background-repeat: repeat-x; */
}

.title {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
}

.title h1 {
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.title p {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
.title a {
  margin: 0;
  padding: 0;
}

/* Images */

.menu {
  display: flex;
  justify-content: space-between;
  /* width: fit-content; */
}

.menu img {
  width: 240px;
  height: 360px;
  object-fit: cover;
}

.menu img:not(:first-child) {
  padding-left: 20px;
}
